.blog-page-container{
    width: 100vw;
    height: 100%;
    background-image: url('@/public/images/paper.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    padding: 50px 0;
}
.blog-page-container .exit-container{
    
    transform: rotate(-5deg);
    position: fixed;
    top: 25px;
    left: 25px;
}
.blog-page-container .exit-container .exit-icon{
    width: 150px!important;
    height: auto;

}
.article-container{
    width: calc(100vw - 500px);
    height: 100%;
    margin: 0 auto;

}
.article-container .article-title{
    margin: 0;
}
.article-container .article-date{
    margin: 5px 0 10px;
}
.article-container img{
    width: 100%;
    height: auto;
}