.home-container{
    width: 100vw;
    height: 100dvh;
    background: url('/images/home-bg2.png');
    background-size: cover;
    background-position: bottom center;
    position: relative;
}
.home-container .icons-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    bottom: 7dvh;
    width: calc(100% - 50px);
    padding: 0 25px;
}
.home-container .icon-container{
    /* position: absolute; */
    width: 12%;
}
.home-container .icon-container img{
    width: 100%;
    height: auto;
}
.home-container .icon-container.light-container{
    position: relative;
}
.home-container .icon-container .light{
    position: absolute;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
}
.home-container .icon-container .light.light-1{
    top: 55px;
    left: 62px;
}
.home-container .icon-container .light.light-2{
    top: 55px;
    right: 57px;
}
/* .home-container .shopping-container{
    bottom: 20dvh;
    left: 5vw;
}
.home-container .blog-container{
    bottom: 5dvh;
    left: 25vw;
}
.home-container .video-container{
    bottom: 10dvh;
    left: 45vw;
}
.home-container .light-container{
    bottom: 17dvh;
    left: 60vw;
}
.home-container .mail-container{
    bottom: 10dvh;
    right: 5vw;
} */